.project
.texlipse
/.settings
/tmp
/out
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.lol
*.nlo
*.nls
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz